:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
  transition: background .2s, color .2s, border .2s;
}

body{
  font-size: 1.6rem;
  background-color: #121214;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 15px;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background: #313131;
}

body::-webkit-scrollbar-thumb {
  background-color: #0B0B0C;    
  border-radius: 4px;
  border: 1px solid rgba( 255, 255, 255, .2);
}

body::-webkit-scrollbar-thumb:hover {
  border: 1px solid #FFF;
} 